<div class="list-column"><h2>Todas las tareas</h2>
<a mat-button routerLink="/newTask">Añadir tarea</a>
<ul class=tasks>
  <li *ngFor="let task of tasks">
    <a routerLink="/detail/{{task.id}}">
    <span class="task-disp">Task ID {{task.id}}</span>
    <div class="descp-list-cont">
      <mat-label class="descp-list">{{task.description}}</mat-label>
    </div>
    <div [ngClass]="{ 'stateNew': task.status == 'New',
    'stateProgress': task.status == 'In Progress',
    'statePending': task.status == 'Pending',
    'stateCompleted': task.status == 'Completed'}">
      <mat-label>{{task.status}}</mat-label>
    </div>
    </a>
    <div>
      <button class="trash-bttn" color="primary" (click)="deleteTask(task)">
        <mat-icon>delete_outline</mat-icon>
      </button>
    </div>
  </li>
</ul>
</div>
<div class="list-column">
<div *ngIf="true">
  <h2>Tareas pendientes</h2>
  <p>{{getPendingTasks()}}</p>
  <ul class=tasks>
    <li *ngFor="let task of getPendingTasks()">
      <a routerLink="/detail/{{task.id}}">
      <span class="task-disp">Task ID {{task.id}}</span>
      <div >
        <mat-label class="descp-list">{{task.description}}</mat-label>
      </div>
      </a>
      <div>
        <button class="trash-bttn" color="primary" (click)="deleteTask(task)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </div>
    </li>
  </ul>
</div>

<h2>Tareas Completadas</h2>
<ul class=tasks>
  <li *ngFor="let task of getCompletedTasks()">
    <a routerLink="/detail/{{task.id}}">
    <span class="task-disp">Task ID {{task.id}}</span>
    <div>
      <mat-label class="descp-list">{{task.description}}</mat-label>
    </div>
    </a>
    <div>
      <button class="trash-bttn" color="primary" (click)="deleteTask(task)">
        <mat-icon>delete_outline</mat-icon>
      </button>
    </div>
  </li>
</ul>
</div>
