<div *ngIf="task">
  <h2>{{task.description | uppercase}} Details</h2>
  <div><span>id: </span>{{task.id}}</div>
  <div>
    <label>Task: </label>
    <input [(ngModel)]="task.description" placeholder="Task description"/>
    <mat-label>{{task.description}}</mat-label>
     <mat-select class="status-select" [(ngModel)]="task.status">
      <mat-option *ngFor="let opt of status" [value]="opt">{{opt}}</mat-option>
     </mat-select>
  </div>
  <!--<button type="button" (click)="save()">save</button>-->
  <button type="button" (click)="goBack()">go back</button>
</div>
