.status-select {
  display:flex;
  width: 150px;
  border-radius: 4px;
  position: relative;
  top: 3em;
}

.task-detail{
  white-space:initial;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task-detail-description{
  width: 70%;
  margin-top: 1em;
}

.task-detail-status{
  width: 20%;
}

.mat-form-field{
  width: 100%;
}
