<div *ngIf="task">
  <h2>Task details</h2>
  <div><mat-toolbar>ID: {{task.id}}</mat-toolbar></div>
  <mat-form-field class="task-detail">
      <mat-label>Task description</mat-label>
      <input matInput [(ngModel)]="task.description" placeholder="Task description"/>
    </mat-form-field>
  <mat-form-field class="task-detail">
     <mat-select [(ngModel)]="task.status">
      <mat-option *ngFor="let opt of status" [value]="opt">{{opt}}</mat-option>
     </mat-select>
    </mat-form-field>
  <div>
    <button mat-raised-button type="button" (click)="updateTask(task)">Guardar</button>
    <button mat-raised-button type="button" (click)="goBack()">Atrás</button>
  </div>
</div>
